@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap')

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.eot');
    src: url('../font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/roboto-bold-webfont.woff') format('woff'),
         url('../font/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

a{
text-decoration: none;
}

ul{
  list-style: none;
}

body {
    font: 400 16px/1 'Roboto', Arial, Tahoma, Verdana, sans-serif;
    color: #333;
    background: #fff;
}

section {
    padding: 50px;
}

.wrapper {
    overflow: hidden;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.dark-gray {
    background-color: #445162;
    color: #fff;
}

.product .container {
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.col50 {
    width: 50%;
}


.product__info {
    padding-right: 20px;
}
.product__info h1{
    font-size: 60px;
    margin: 0 0 40px;
    font-weight: 400;
}

.product__info li {
    font-size: 20px;
    margin: 0 0 16px;
    position: relative;
    padding-left: 36px;
    line-height: 1.3;
}

.product__info li:last-child{
margin-bottom: 0px;
}

.product__info li:before {
    content: '';
    width: 25px;
    height: 19px;
    position: absolute;
    left: 0;
    top: 1px;
    background: url("../img/check.png") no-repeat 0 0;
    background-size: contain;
}

.product__image{
    display: flex;
    flex: 0 1 430px;
    max-height: 245px;
    justify-content: flex-end;
    margin: 0px 0 0 20px;
}

/*-----------Mobile Adaptive Product-------------*/

@media (max-width:940px){

.product__info h1{
white-space: nowrap;
}
}

@media (max-width: 800px){

.product{
padding: 20px 0px;
}
}
  
@media (max-width:767px){

.flex{
flex-wrap: wrap;
align-items: center;
}

.product__image{
flex: 0 1 100%;
}

.product__info h1{
font-size: 45px;
margin-bottom: 15px;
}

.product .container{
justify-content: center;
}

.product .product__info ul{
justify-content: center;
}

.product .product__info ul li{
margin: 0 0 10px 0;
}

.col50{
justify-content: center;
padding: 0;
flex:0 0 100%;
margin:0 auto;
width: 100%;
}

}

@media (max-width:460px){

.product .product__info ul li{
margin: 0 0 5px 0;
}

.product{
padding: 7px 0px;
}


.product__info h1{
font-size: 45px;
margin-bottom: 10px;
}
}

@media (max-width:374px){

   .product__info li {
    font-size: inherit;
} 
}

/*--------------------------------------*/

.about .container{
/*align-items: center;
*/justify-content: space-between;
}


.white {
background: #fff;
}

.about-product {
    flex: 1 1 auto;
}

.title{
    font-weight: 400;
    color: #445161; 
    font-size: 30px;
}
.about__title{
    margin: 0 0 25px;
}

.about-product p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 17px;
    color: #5d5d5d;
    text-align: justify;
}

.about-product p:last-child{
margin-bottom: 10px;
}

.about-image {
display: flex;
flex: 0 0 430px;
max-height: 245px;
margin: 0 0 0 50px;
}

/*---------Adaptive mobile About------------*/

@media (max-width: 912px){

.about .flex{
display: flex;
flex-wrap: wrap;
}

.about-image{
margin: 0 auto;
}
}

@media (max-width: 800px){

    .about {
padding: 20px 0px;
}
}


@media (max-width: 767px){
.about__title{
    margin: 0 0 10px;
}
}

@media (max-width: 500px){
.about-image{
flex: 0 1 100%;
justify-content: center;
}
}

@media (max-width: 460px){

.about-product p{
margin-bottom: 8px;
}

.about {
padding: 7px 0px;
}
}

/*------------------------------*/

.pluses {
    background: #f5f5f5;
    padding: 60px 0 18px 0;
}

.pluses__title {
    margin-bottom: 20px;
    text-align: center;
}

.plusses-block {
    flex-wrap: wrap;
    margin: 0 -11px;
}

.pluses-block__item {
 flex:0 1 50%;
 margin-bottom: 35px;
 position: relative;
 padding: 0 11px;
}

.item-text:before{
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    left: 11px;
    top: 5px;
    background: url("../img/plus.png") no-repeat 0 0;
    background-size: contain;
}

.item-text {
    
    padding: 0 0px 0 42px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    color: #5d5d5d;
}

/*----------Adaptive Mobile Pluses--------*/
@media (max-width: 767px){

.pluses-block__item {
 flex:0 1 100%;
 margin-bottom: 10px;
}

.pluses {
    background: #f5f5f5;
    padding: 20px 0 20px 0;
}
}

@media (max-width: 460px){

   .pluses-block__item {
 margin-bottom: 8px;

}

.pluses {
    background: #f5f5f5;
    padding: 7px 0 0px 0;
} 

.pluses__title{
    margin-bottom: 8px;
}
}

/*----------------------------------------*/

.scrin {
    background: #fff;
    padding: 50px 0;
}

.scrin__title {
    text-align: center;
    margin-bottom: 35px;
}


.scrin-block {
    flex-wrap: wrap;
    margin: 0 -8px;
}

.scrin-block__row {
    flex: 0 1 50%;
    display: flex;
    padding: 0 8px;
}
.row__image {
    flex: 0 0 200px;
    margin:0 0 20px 0px;
}

.row__body {
      padding: 0 0 0 15px;
      flex: 1 1 auto;
}
.row__title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #445161;
}
.row__text {
    font-size: 16px;
    line-height: 1.5;
    color: #5d5d5d;
}

/*----------Adaptive Mobile Scrin--------*/
@media (max-width: 1120px){
 .scrin-block .scrin-block__row{
    flex: 100%;
 }

}

@media (max-width:800px){

.scrin {
    padding: 20px 0;
}
}


@media (max-width:767px){

    .scrin__title {
    margin-bottom: 15px;
}

.scrin-block__row .row__title {
    font-size: 24px;
    margin-bottom: 10px;
}

}


@media (max-width:600px){

 .scrin-block .scrin-block__row{
    flex-wrap: wrap;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 8px;
 }

.scrin {
    padding: 10px 0;
}

.scrin__title {
    margin-bottom: 10px;
}

.row__image {
    flex: 0 1 100%;
    margin:0 0 8px 0px;
    text-align: center;
}

.scrin__title {
    margin-bottom: 8px;
}

.scrin-block__row .row__title {
    font-size: 22px;
    margin-bottom: 8px;
}

.scrin-block{
    margin: 0px;
}

.scrin-block__row{
    padding: 0;
}

.row__body {
      padding: 0px;
      flex: 0 1 auto;
}
}

/*---------------------------------------*/

